/* Lesson 1 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}






/* VIDEOS SECTION */

.videos__container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    z-index: 1;
    padding: 153px 20px 10px 20px;
}

.videos__item {
    flex-grow: 1;
    height: 303px;
    width: 300px;
}

/* video grid */

.video-description {
    margin-top: 1rem;
    display: grid;
    text-align: start;
    column-gap: 1rem;
    row-gap: 10px;
    grid-template-columns: auto 1fr;
}

.video-description img {
    grid-area: 1 / 1 / 3 / 2;
}

.video-description h3 {
    grid-area: 1 / 2 / 2 / 3;
    font-weight: 700;
    color: #444444;
}

.video-description .video-actions {
    display: flex;
    justify-content: space-around;
}

.video-description .video-actions a {
    text-decoration: underline;
}

.video-description img {
    width: 2em;
    height: 2em;
    border-radius: 100%;
}

@media(min-width: 834px) {

    .videos__container {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media(min-width: 1440px) {
    .videos__item {
        width: 288px;
    }
}